span {
    display:flex;
    align-items:center;
    width:130px;
    background-color:darkcyan;
    color:white;
    border-radius:25px;
    padding: 10px;
}

span a {
    font-size: 14px;
    color: white;
}

span:hover {
    background-color: darkslateblue;
    transition: all .5s;
}