<section>
    <h2>Experiencia laboral</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <ul class="ul-style">
                <li>Supermercado El Arco</li>
            </ul>
            <p>Barrio Rivadavia, Merlo</p>
            <p>sep-2011 hasta dic-2012.</p>
            <p>Atención al cliente en verdulería, reposición y limpieza del sector.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <ul class="ul-style">
                <li>Heladería Grido</li>
            </ul>
            <p>sucursal Barrio Rivadavia, Merlo</p>
            <p>ene-2021 hasta la actualidad.</p>
            <p>Atención al cliente en heladería, reposición y preparación de alimentos.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <ul class="ul-style">
                <li>Experiencia 3</li>
                <p>Puesto de empleo</p>
                <p>Tiempo de trabajo</p>
                <p>Atención al cliente en heladería, reposición y preparación de alimentos.</p>
            </ul>
        </div>
    </div>
</section>