<section>
    <div class="row">   
        <h2>Educación</h2>        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul>
                <li>Escuela Primaria 56 - 'Antártida Argentina'</li>
                <p>Merlo, Buenos Aires</p>
                <p>Estudios primarios terminados.</p>
                <p>Desde marzo del 2003 hasta diciembre del 2008.</p>
                <li>Escuela de Educación Secundaria Técnica 5 "Ciudad de Libertad"</li>
                <p>Merlo, Buenos Aires</p>
                <p>Título de Técnico en Servicios Turísticos</p>
                <p>Estudios secundarios terminados.</p>
                <p>Desde enero del 2021 hasta la actualidad.</p>
            </ul>
        </div>
        <br />
        <h2>Extracurriculares</h2>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul>
                <li>Inglés</li>
                <p>Conocimientos del lenguaje intermedios. Equivalente a <b>Level B1</b> según evaluaciones de conocimientos.<br />Dos niveles del idioma realizados entre 2015 y 2016 en el <b>Instituto Kennedy</b> de Merlo, Buenos Aires.</p>
                <li>Diseño gráfico</li>
                <p>Conocimientos avanzados en el manejo de editores como Pixlr, Paint.NET y Adobe Photoshop.<br />Conocimientos intermedios en el manejo de Corel DRAW y Adobe Illustrator.</p>
                <p>Certificados emitidos en la CFP 406 de Morón, Buenos Aires.<br />Desde 2015 hasta 2016.</p>
                <li>Diseño de páginas web</li>
                <p>Conocimientos básicos adquiridos en la CFP 406 de Morón, Buenos Aires, en 2017. Manejo de la aplicación <b>Dreamwiever</b>.</p>
                <p>Resto de aprendizaje realizado de forma autodidacta, principalmente desde el sitio web <b>FANDOM</b> (anteriormente conocido como <b>Wikia</b>) desde 2013 hasta 2019.</p>
            </ul>
        </div>
    </div>
</section>