* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Encode Sans', Helvetica, sans-serif;
    padding-top: 20px;
    color: white;
}

section {
    background: rgba(39, 5, 43,1);
    background: -moz-linear-gradient(0deg, rgba(75, 9, 34,1) 25%, rgba(39, 5, 43,1) 75%);
    background: -webkit-linear-gradient(0deg, rgba(75, 9, 34,1) 25%, rgba(39, 5, 43,1) 75%);
    background: linear-gradient(0deg, rgba(75, 9, 34,1) 25%, rgba(39, 5, 43,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b0922",endColorstr="#27052b",GradientType=1);
}

h2 {
    display: block;
    text-align: center;
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
}

.row div{
    display: flex;
    flex-basis: 75%;
    border-radius: 2px;
    margin: 2%;
    padding: 3%;
    border: 1px solid #333;
    background-color: rgb(221, 74, 74);
    color: #eee;
}

.row div ul p {
    font-size: 15px;
    font-style: italic;
    padding-left:1rem;
}

ul {
    list-style-image:url("../../../assets/point-ul-li.png");
    list-style-position:inside;
}

ul li{
    font-size: 20px;
    padding: 3%;
}

@media (max-width:767px){
    /* menores a 768px */
    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .row div {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 60%;
    }

    h2 {
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 6vw;
    }
    ul li{
        font-size: 20px;
        font-weight: bold;
    }
    .row div p {
        font-size: 15px;
        font-style:italic;
        text-align: center;
    }
}