<section>
    <div class="row">   
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" id="resaltado">
            <h2>Educación</h2>
            <ul>
                <li>Escuela Primaria 56 - 'Antártida Argentina' -Merlo, Buenos Aires-</li>
                <li>Estudios primarios terminados.<br />Desde marzo del 2003 hasta diciembre del 2008.</li>
            </ul>
            <ul>
                <li>Escuela de Educación Secundaria Técnica 5 "Ciudad de Libertad" -Merlo, Buenos Aires-</li>
                <li>-título de Técnico en Servicios Turísticos-</li>
                <li>Estudios secundarios terminados.<br />Desde enero del 2021 hasta la actualidad.</li>
            </ul>
            <h2>Extracurriculares</h2>
            <ul>
                <li>Inglés</li>
                <li>Conocimientos del lenguaje intermedios. Equivalente a <b>Level B1</b> según evaluaciones de conocimientos.<br />Dos niveles del idioma realizados entre 2015 y 2016 en el <b>Instituto Kennedy</b> de Merlo, Buenos Aires.</li>
            </ul>
            <ul>
                <li>Diseño gráfico</li>
                <li>Conocimientos avanzados en el manejo de editores como Pixlr, Paint.NET y Adobe Photoshop.<br />Conocimientos intermedios en el manejo de Corel DRAW y Adobe Illustrator.</li>
                <li>Certificados emitidos en la CFP 406 de Morón, Buenos Aires.<br />Desde 2015 hasta 2016.</li>
            </ul>
            <ul>
                <li>Diseño de páginas web</li>
                <li>Conocimientos básicos adquiridos en la CFP 406 de Morón, Buenos Aires, en 2017. Manejo de la aplicación <b>Dreamwiever</b>.</li>
                <li>Resto de aprendizaje realizado de forma autodidacta, principalmente desde el sitio web <b>FANDOM</b> (anteriormente conocido como <b>Wikia</b>) desde 2013 hasta 2019.</li>
            </ul>
        </div>
    </div>
</section>