<header>
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <div class="logo">
            <img src="../../../assets/logoap-simplewhite.png" alt="Argentina Programa" id="logo-img">
            <h2>Argentina Programa</h2>
        </div>
    </a>
    <nav>
        <a href="https://www.facebook.com/nicobenialgo/"><img src="../../../assets/logo-facebook.png" class="nav-link" id="facebook" title="Facebook"></a>
        <a href="https://www.instagram.com/nicobenialgo/"><img src="../../../assets/logo-instagram.png" class="nav-link" id="instagram" title="Instagram"></a>
        <a href="https://www.linkedin.com/in/nicobenialgo"><img src="../../../assets/logo-linkedin.png" class="nav-link" id="linkedin" title="LinkedIn"></a>
        <a href="https://github.com/NicoBenialgo"><img src="../../../assets/logo-github.png" class="nav-link" id="github" title="GitHub"></a>
        <a href="login.html" class="nav-login" target="_self">Iniciar sesión</a>
    </nav>
</header>