* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Encode Sans', Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
}

h2 {
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 3%;
}

.div-avatar {
    display: flex;
    justify-content:flex-end;
}

.div-about {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
}

.about-color {
    display: inline-block;
    background-color: #ddd;
    padding: 5%;
    color: black;
    border-radius: 10px;
}

/**** FOTO DE PERFIL ****/
@media (min-width:768px){
    /* mayores a 768px */
    #avatar{
        width: 18vw;
        outline: 10px solid #eee;
        border-radius: 50%;
    }
}

@media (max-width:767px){
    /* menores a 768px */
    .div-avatar {
        padding-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #avatar{
        width: 30%;
        border-radius: 50%;
        outline: 5px solid #fff;
    }
}
