<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="centrado">
            <img src="../../../assets/avatar.jpg" class="img-fluid img-thumbnail" id="avatar">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h1 id="nombre">Nicolas Federico Benialgo</h1>
        <p id="slogan"><span id="slogan-color">Full Stack Developer Jr.</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium possimus assumenda corrupti id, tenetur similique officiis! Animi expedita voluptas aliquid nihil aspernatur quod voluptatum dolorem! Eaque ducimus totam blanditiis sunt.</p>
        </span>
    </div>
</div>
