<section>
    <app-banner></app-banner>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-avatar">
            <img src="../../../assets/avatar.jpg" class="img-fluid" id="avatar">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 div-about">
            <h2>Sobre mí</h2>
            <p>Hola, ¿qué tal? Soy Nicolas, y hace mucho inicié en el proceso de aprendizaje de esta materia tan linda como lo es programación.</p>
            <p>Me apasiona la historia, mirar planos y mapas de todo tipo, y me encanta la edición y creación de contenido. Por ello y por tantos motivos más, quisiera formarme profesionalmente como Programador Full-Stack, obtener la capacitación y experiencia correspondiente, y apuntar a ramas más específicas para servir en cada proyecto que se me cruce en el trabajo formal.</p>
        </div>
    </div>
</section>