<section>
    <h2>Hard & Soft Skills</h2>
    <h3>Hard Skills</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-html.png" alt="logo de HTML" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>HTML</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:80%"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-css.png" alt="logo de CSS" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>CSS / Bootstrap</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:60%"></div></div>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-angular.png" alt="logo de Angular" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>Angular / TypeScript</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:60%"></div></div>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-js.png" alt="logo de JavaScript" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>JavaScript</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:40%"></div></div>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-sql.png" alt="logo de MySQL" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>MySQL</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:40%"></div></div>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 container-img"><img src="../../../assets/progress-logo-springboot.png" alt="logo de Spring Boot" class="progress-logo"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-info">
                    <h4>Java Spring Boot</h4>
                    <div class="progress-design"><div class="progress-percent" style="--w:20%"></div></div>
                </div>
            </div>    
        </div>
    </div>
    <h3>Soft Skills</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar-soft">
            <h4>Empatía</h4>
            <div class="progress-design"><div class="progress-percent" style="--w:100%"></div></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar-soft">
            <h4>Lealtad</h4>
            <div class="progress-design"><div class="progress-percent" style="--w:100%"></div></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar-soft">
            <h4>Perseverancia</h4>
            <div class="progress-design"><div class="progress-percent" style="--w:100%"></div></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 progress-bar-soft">
            <h4>Autodidacta</h4>
            <div class="progress-design"><div class="progress-percent" style="--w:100%"></div></div>
        </div>
    </div>
</section>